::ng-deep html[dir="rtl"] {
	.form-floating > label {
		right: 0px !important;
		left: unset !important;
	}
	.was-validated .form-control:invalid,
	.form-control.is-invalid {
		padding-right: calc(1.5em - 0.7rem);
		padding-left: calc(1.5em + 0.75rem);
		background-position: left calc(0.375em + 0.1875rem) center;
		background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
	}
}
