
.error{
  font-size: 0.875em;
  color: #dc3545;}
  .wrapper {
    margin:auto;
    position: relative;
    overflow: hidden;
}




.pass{
  right: 0;
  top: 59%;
  height: 31%;
  border-radius: 20px;
  left: 90%;
}
 .invalid-validation{
   color: #dc3545;
 }

 ::ng-deep html[dir=rtl] {
  .pass{
    right: 90%;
    top: 59%;
    height: 31%;
    border-radius: 20px;
    left: 0;
  }
}
