<div class="d-flex  justify-content-center align-self-center">
  <div class="wrapper">
    <div class="text-secondary size-md-25 size-14 font-bold mb-12 text-center">{{'accoun.UpdateyourPassword' | translate}}</div>
    <!-- <div class="row"> -->
    <form class="row justify-content-center" [formGroup]="updatePassword" (ngSubmit)="updateBuyerDetails()" novalidate>
      <div class="col-md-8  position-relative">
        <label for="exampleFormControlInput1" class="text-gray3 size-6 mb-4">{{'accoun.Currentpassword' | translate}}</label>
        <input type="{{passwordTypeMain}}" class="form-control border-radius-8 border-gray text-gray size-4 w-100"
          formControlName="oldPassword" id="exampleFormControlInput1">

          <img src="../../../../assets/images/visibility.png" alt="" *ngIf="passwordTypeMain && updatePassword.value.oldPassword" (click)="showHidePass('passwordTypeMain')"
          class="d-flex align-items-center  position-absolute  cursor-pointer  bg-gray1 pass" >

          <img src="../../../../assets/images/visibility-dis.png" alt="" *ngIf="!passwordTypeMain && updatePassword.value.oldPassword" (click)="showHidePass('passwordTypeMain')"
          class="d-flex align-items-center  position-absolute  cursor-pointer  bg-gray1 pass" >


      </div>
      <!-- <div class="col"></div> -->
      <div class="col-md-8  position-relative">
        <label for="exampleFormControlInput1" class="text-gray3 size-6 mb-4">{{'accoun.Newpassword' | translate}}</label>
        <input type="{{passwordTypenew}}" class="form-control border-radius-8 border-gray text-gray size-4 w-100"
        pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
        (input)="matchPasswords()"
          formControlName="password" id="exampleFormControlInput1">

          <img src="../../../../assets/images/visibility.png" alt="" *ngIf="passwordTypenew && updatePassword.value.password" (click)="showHidePass('passwordTypenew')"
          class="d-flex align-items-center  position-absolute  cursor-pointer  bg-gray1 pass" >

          <img src="../../../../assets/images/visibility-dis.png" alt="" *ngIf="!passwordTypenew && updatePassword.value.password" (click)="showHidePass('passwordTypenew')"
          class="d-flex align-items-center  position-absolute  cursor-pointer  bg-gray1 pass" >
      </div>

      <div class="invalid-validation col-md-8" *ngIf="password?.dirty || password?.touched">
        <p *ngIf="password.errors?.required">
            {{'accoun.Passwordisrequired' | translate}}
        </p>
        <p *ngIf="password?.errors?.pattern">
          {{'accoun.passValidation' | translate}}
        </p>
    </div>

      <!-- <div class="col"></div> -->
      <div class="col-md-8 position-relative">
        <label for="exampleFormControlInput1" class="text-gray3 size-6 mb-4">{{'accoun.Confirnewpassword' | translate}}</label>
        <input type="{{passwordTypeConfirm}}" class="form-control border-radius-8 border-gray text-gray size-4 w-100" (input)="matchPasswords()"
          formControlName="confirmpassword" id="exampleFormControlInput1">

          <!-- <img src="../../../../assets/images/visibility.png" alt="" *ngIf="passwordTypeConfirm && updatePassword.value.confirmpassword" (click)="showHidePass('passwordTypeConfirm')"
          class="d-flex align-items-center  position-absolute  cursor-pointer  bg-gray1 pass" >

          <img src="../../../../assets/images/visibility-dis.png" alt="" *ngIf="!passwordTypeConfirm && updatePassword.value.confirmpassword" (click)="showHidePass('passwordTypeConfirm')"
          class="d-flex align-items-center  position-absolute  cursor-pointer  bg-gray1 pass" > -->
      </div>

      <div class="col-md-8" >
        <p *ngIf="matched && (confirmpassword?.dirty || confirmpassword?.touched)">
          <span class="error">{{'accoun.PasswordNotMached' | translate}}</span>
        </p>
      </div>

      <!-- <div class="col"></div> -->
      <div class="col-md-8">
        <button [disabled]="(updatePassword.invalid || matched)"
          class="btn btn-secondary text-white font-bold size-6 size-md-12 w-100 mt-16 border-radius-10 ptb-6 w-100">{{'accoun.Confirm' | translate}}</button>
      </div>
      <div class="col-md-6">
        <!-- <button (click)="resetForm()" [disabled]="!updatePassword.dirty && updatePassword.value"
          class="btn btn-pink3 text-pink1 font-bold size-12 w-100 mt-16 border-radius-10 ptb-6 w-100">Cancel</button> -->
      </div>
    </form>
    <!-- </div> -->
  </div>
</div>
