
.stepper {
    .step {
        position: relative;
     }
     
     .step::before {
         content: "";
         width: 44px;
         height: 44px;
         border:1px dashed  #ff8392;
         color:  #ff8392;
         display: block;
         position: absolute;
         left:  -50px;
         background-color: white;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
     }
     .step::after {
         content: "";
         height: 100%;
         border-left: 1px dashed #ff8392;
         position: absolute;
         bottom: 0;
         left: -27px;
         top: 44px;
     }
     div.step:last-of-type::after {
         content: unset;
     }
     .step:nth-of-type(1)::before {
         content: "1";
         font-family: 'BryantPro-Bold';
     }
     .step:nth-of-type(2)::before {
         content: "2";
         font-family: 'BryantPro-Bold';
     }
     .step:nth-of-type(3)::before {
         content: "3";
         font-family: 'BryantPro-Bold';
     }
     .step:nth-of-type(4)::before {
         content: "4";
         font-family: 'BryantPro-Bold';
     }
     .step.active::before {
         background:  #ff8392;
         color: white;
     }
     .step:nth-of-type(1) {
        min-height: 140px;
    }
 .step:nth-of-type(2) {
        min-height: 140px;
    }
     .step:nth-of-type(3) {
         min-height: 140px;
     }
     .step:nth-of-type(4) {
         min-height: 140px;
     }
    
}
.responsive-stepper {
    .bullet {
        width: 30px;
        height: 30px;
        border:1px dashed  #ff8392;
        color:  #ff8392;
        display: block;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 333;
        font-family: 'BryantPro-Bold';
    }
    .step:nth-child(4)::after {
        content: unset;
    }
    .step {
        width: 30%!important;
    }
    .step:last-of-type {
        width: unset !important;
    }
    .step {
        position: relative;
    }
    .step::after {
        border-bottom: 1px dashed #ff8392;
        content: '';
        width: 100%;
        top: 15px;
        position: absolute;
        // left: 30px;
        display: block;
        z-index: 30;
        // height: 2px;
        // background: red;
    }
    .bullet.active {
        background:  #ff8392;
        color: white;
    }
    @media (min-width: 768px) {
        .bullet {
            width: 40px;
            height: 40px;
           
        }
    }
    
}