.wrapper {
    margin:auto;
    position: relative;
    overflow: hidden;
}
.error{
  font-size: 0.875em;
  color: #dc3545;
}


.pass{
  right: 0px;
  top: 60%;
  height: 30%;
  border-radius: 20px;
  left: 85%;
}
