<form class="row h-100 mb-100 needs-validation" [formGroup]="resetPassword" (ngSubmit)="sendResetPassword()" novalidate>

  <div class="col-md-6 bg-image bg-primary d-md-block d-none  cursor-pointer" [routerLink]="''">
    <div class="d-flex flex-column justify-content-between align-items-center mt-100">
      <img src="assets/images/mumez-logo-en.svg" alt="" class="max-270">
      <div class="size-30 text-white font-regular ms-lg-90 ms-md-72 lh-1 mt-6"> {{'auth.Welcometothe' | translate}}<br>
        {{'auth.mummyMumez' | translate}}
        <br> {{'auth.world.' | translate}}
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12 bg-primary1">
    <div class="d-flex flex-column align-items-center justify-content-center h-100 max-600 m-auto">
      <div class="col-md-12 mb-8  position-relative">
        <div class="col-md-12 mb-8">
          <input class="form-control border-0 p-12 border-radius-12" type="{{passwordType}}"
            pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
            [class.is-invalid]="password?.invalid && (password?.dirty ||password?.touched)"
            [placeholder]="'auth.Password' | translate" formControlName="password">

          <img src="../../../../assets/images/visibility.png" alt=""
            *ngIf="passwordType && resetPassword?.value?.password" (click)="showHidePass('passwordTypeMain')"
            class="d-flex align-items-center  position-absolute  cursor-pointer  bg-gray1 pass">

          <img src="../../../../assets/images/visibility-dis.png" alt=""
            *ngIf="!passwordType && resetPassword?.value?.password" (click)="showHidePass('passwordTypeMain')"
            class="d-flex align-items-center  position-absolute  cursor-pointer  bg-gray1 pass">



          <div class="invalid-feedback" *ngIf="password?.dirty || password?.touched">
            <p *ngIf="password.errors?.required">
              {{'auth.Passwordisrequired' | translate}}
            </p>
            <p *ngIf="password.errors?.pattern">
              {{'auth.passwordvalidation' | translate}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-8 position-relative">
        <div class="form-group">
          <input class="form-control border-0 p-12 border-radius-12" type="{{passwordTypeConfirm}}" minlength="6"
            required
            [class.is-invalid]="confirmpassword?.invalid && (confirmpassword?.dirty ||confirmpassword?.touched)"
            [placeholder]="'auth.ConfirmPassword' | translate" formControlName="confirmpassword">
        </div>


        <img src="../../../../assets/images/visibility.png" alt=""
          *ngIf="passwordTypeConfirm && resetPassword.value.confirmpassword"
          (click)="showHidePass('passwordTypeConfirm')"
          class="d-flex align-items-center  position-absolute  cursor-pointer  bg-gray1 pass">

        <img src="../../../../assets/images/visibility-dis.png" alt=""
          *ngIf="!passwordTypeConfirm && resetPassword.value.confirmpassword"
          (click)="showHidePass('passwordTypeConfirm')"
          class="d-flex align-items-center  position-absolute  cursor-pointer  bg-gray1 pass">

        <div class="invalid-feedback" *ngIf="confirmpassword?.dirty || confirmpassword?.touched">
          <p *ngIf="confirmpassword.errors?.required">
            {{'auth.confirmpasswordisrequired' | translate}}
          </p>
          <p *ngIf="confirmpassword.errors?.email">
            {{'auth.confirmpasswordisinvalid' | translate}}
          </p>
        </div>

        <p *ngIf="matched && (confirmpassword?.dirty || confirmpassword?.touched)">
          <span class="error">
            {{'auth.PasswordNotMached' | translate}}
          </span>
        </p>


      </div>
      <div class="col-md-12 text-center">
        <button [disabled]="resetPassword.invalid || matched"
          class="btn size-12 font-medium btn-pink1 text-white w-100 border-radius-20 p-10">
          {{'auth.Reset' | translate}}
        </button>
      </div>
    </div>
  </div>
</form>
