<div class="d-flex justify-content-center align-self-center">
  <div class="wrapper">
    <!-- <div class="text-secondary size-25 font-bold mb-12">Update your Email</div> -->

    <div class="row needs-validation" id="slide" >
      <app-order-datail [orderId]="data" ></app-order-datail>
      <div class="col-md-11">
        <div class="col-md-6">
          <!-- <button
            class="btn btn-pink3 text-pink1 font-bold size-12 w-100 mt-16 border-radius-10 ptb-6 w-100">Cancel</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

