@media (max-width: 575.9px) {
    .review-wrapper {
        overflow-x: scroll;
        width: calc(100%);
    }
    .review-item {
        width: 800px;
    }
   } 
//    .scroll-overflow {
    
//     overflow: auto;
// }

