<div class="d-flex  justify-content-center align-self-center">
  <div class="wrapper">
    <div class="text-secondary size-md-25 size-14 font-bold mb-12" *ngIf="data?.dataKey?.addressId">Update your Address</div>
    <div class="text-secondary size-md-25 size-14 font-bold mb-12" *ngIf="!data?.dataKey?.addressId">Add New Address</div>

    <form class="row needs-validation" [formGroup]="updateAddressForm" (ngSubmit)="updateAdress()" novalidate>
      <div class="col-md-6 mb-4">
        <label for="exampleFormControlInput1" class="text-gray3 size-6 mb-4">City</label>
        <input type="text" class="form-control border-radius-8 border-gray text-gray size-4 w-100"
          [class.is-invalid]="city?.invalid && (city?.dirty ||city?.touched)" formControlName="city"
          id="exampleFormControlInput1">
        <div class="invalid-feedback" *ngIf="city?.dirty || city?.touched">
          <p *ngIf="city.errors?.required">
            City is required
          </p>
        </div>
      </div>
      <div class="col"></div>
      <div class="col-md-6 mb-4">
        <label for="exampleFormControlInput1" class="text-gray3 size-6 mb-4">Area</label>
        <input type="text" class="form-control border-radius-8 border-gray text-gray size-4 w-100"
          [class.is-invalid]="province?.invalid && (province?.dirty ||province?.touched)" formControlName="province"
          id="exampleFormControlInput1">
        <div class="invalid-feedback" *ngIf="province?.dirty || province?.touched">
          <p *ngIf="province.errors?.required">
            Area is required
          </p>
        </div>
      </div>
      <div class="col"></div>

      <div class="col-md-6 mb-4">
        <label for="exampleFormControlInput1" class="text-gray3 size-6 mb-4">Address</label>
        <input type="text" class="form-control border-radius-8 border-gray text-gray size-4 w-100"
          [class.is-invalid]="address?.invalid && (address?.dirty ||address?.touched)" formControlName="address" pattern="\b.*[a-zA-Z]+.*\b\s*"
          id="exampleFormControlInput1">
        <div class="invalid-feedback" *ngIf="address?.dirty || address?.touched">
          <p *ngIf="address.errors?.required">
            Address is required
          </p>

          <p *ngIf="address.errors?.pattern">
            Only characters, whitespace and numbers
         </p>

        </div>
      </div>
      <div class="col"></div>
      <!-- <div class="col-md-6">
        <label for="exampleFormControlInput1" class="text-gray3 size-6 mb-4">Address type</label>
        <input type="text" class="form-control border-radius-8 border-gray text-gray size-4 w-100"
          [class.is-invalid]="addressType?.invalid && (addressType?.dirty ||addressType?.touched)"
          formControlName="addressType" id="exampleFormControlInput1">
        <div class="invalid-feedback" *ngIf="addressType?.dirty || addressType?.touched">
          <p *ngIf="addressType.errors?.required">
            Address type is required
          </p>
        </div>
      </div> -->

      <!-- <div class="col-md-6">
        <label for="exampleFormControlInput1" class="text-gray3 size-6 mb-4">Address type</label>
        <input type="text" class="form-control border-radius-8 border-gray text-gray size-4 w-100"
        [class.is-invalid]="type?.invalid && (type?.dirty ||type?.touched)"
        formControlName="type"
          id="exampleFormControlInput1" >
          <div class="invalid-feedback" *ngIf="type?.dirty || type?.touched">
            <p *ngIf="type.errors?.required">
                Type  is required
            </p>
        </div>
      </div> -->

      <div class="col-md-6 mb-4">
        <div class="text-gray3 size-6 mb-4">Address type</div>
        <app-select>
          <select class="form-select select app-select w-100 size-4  border-radius-8"
            aria-label="Default select example" formControlName="type"
            [class.is-invalid]="type?.invalid && (type?.dirty ||type?.touched)" placeholder="Type">
            <option *ngFor="let type of addressTypes" [value]="type.value"> {{type.viewValue}}</option>
          </select>
        </app-select>
        <div class="invalid-feedback" *ngIf="type?.dirty || type?.touched">
          <p *ngIf="type.errors?.required">
            Type is required
          </p>
        </div>
      </div>



      <div class="col"></div>
      <div class="col-md-6 mb-4" *ngIf="data?.dataKey?.addressId">
        <button [disabled]="!updateAddressForm.valid || !updateAddressForm.dirty || !updateAddressForm.touched"
          class="btn btn-secondary text-white font-bold size-6 size-md-12 w-100 mt-16 border-radius-10 ptb-6 w-100">Update
          Adress</button>
      </div>

      <div class="col-md-6 mb-4" *ngIf="!data?.dataKey?.addressId">
        <button [disabled]="!updateAddressForm.valid || !updateAddressForm.dirty || !updateAddressForm.touched"
          class="btn btn-secondary text-white font-bold size-6 size-md-12 w-100 mt-16 border-radius-10 ptb-6 w-100">Add
          Adress</button>
      </div>
      <!-- <div class="col-md-6">
        <button
          class="btn btn-pink3 text-pink1 font-bold size-6 size-lg-12 w-100 mt-16 border-radius-10 ptb-6 w-100">Cancel</button>
      </div> -->
    </form>
  </div>
</div>
