<section class="h-100">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 d-flex align-items-center justify-content-center h-100">
                <div class="">
                    <div class="d-flex align-items-center mb-4 justify-content-center">
                        <img src="../../../../assets/images/ani-m.gif" alt="" class="max-350 w-100 logo-image">
                        <img src="../../../../assets/images/mumez-text-logo.svg" alt="" class="max-200 w-100 logo-text">
                    </div>
                    <div class="text-white font-bold size-34">Thanks For Your Activation</div>
                    <div class="text-white size-8 font-regular text-center">we are excited to have you join us <br> just
                        a second</div>
                </div>
            </div>
        </div>
    </div>
</section>