section {
    background-color: #06abb9;
}
.container {
    background-image: url(../../../../assets/images/sky.svg);
    background-size: cover;
}
.logo-text {
    margin-left: -90px;
}
.logo-image {
    margin-left: -150px;
}
