<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col">
            <div class="size-30 text-gray3 font-bold mt-50">{{'mumez.ReturnsPolicy' | translate}}</div>
        </div>
    </div>



      <div class="row justify-content-center mt-30">
        <div class="col-md-2"></div>
        <div class="col">
            <!-- <div class="size-20 text-dark font-bold">How do I return an item(s)?</div> -->
            <div class="text-dark size-10 max-900">
              {{returnPolicy}}
              <br>
              <br>
              <br>
            </div>

        </div>

    </div>

    <!-- returnPolicy -->
    <!-- <div class="row justify-content-center mt-30">
        <div class="col-md-2"></div>
        <div class="col">
            <div class="size-20 text-dark font-bold">How do I return an item(s)?</div>
            <div class="text-dark size-10 max-900">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages.
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-60">
        <div class="col-md-2"></div>
        <div class="col">
            <div class="size-20 text-dark font-bold mb-4">How does it work?</div>
            <div class="text-dark size-10 max-900">
                <pre class="text-dark size-10 font-regular">
Go to “My Account”
Click on “Account Information”, then “Return Form”
Select the order (s) you want to return from the list.
Select the most appropriate return reason.
Add your comments.
Attach a photo for the product.
Add contact telephone number.
Or by contacting us (Arrange a Return, Replacement or Exchange). You may contact us through email.
                </pre>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-10">
        <div class="col-md-2"></div>
        <div class="col">
            <div class="size-20 text-dark font-bold mb-4">Non-returnable Products.</div>
            <div class="size-8 text-dark mb-8">No return, replace or exchange products in respect of:</div>
            <div class="text-dark size-8 max-600 mb-8">
                1. Products that have been used or damaged by you or are not in the same condition as you received them.

            </div>
            <div class="text-dark size-8 max-600 mb-8">
                2. Any consumable product which has been used or installed.
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                3. Products with tampered or missing serial numbers; or
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                4. Products that fall under specific categories, including food, beverages, household goods, swimwear,
                hosiery, underwear, socks, footware, books, CDs/DVDs, potty training items, maternity belt, health,
                hygiene related and personal care products and certain baby products (e.g. tethers, diapers, baby wipes,
                hygiene tissues, feeding related products).
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                5. Personalized items which you requested to be designed especially for you.
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                6. Items on sale.
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                7. Items that are not in original condition and packaging.
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                8. Damaged items due to misuse or showing signs of wear and tear, even if they still under warranty
                period.
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                9. Items that have been assembled, used, altered, or installed unless defective.
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                10. Item that were sealed and required their hygienic level to be intact from the manufacturer.
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                11. Santa delivery orders are not eligible for returns.
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                12. Orders shipped to international destinations [Outside UAE and KSA].
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                13. I changed my mind.
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                14. I found a better price. We offer our shoppers a best price guarantee. If you find any of our
                products in the GCC for cheaper, we’ll match that price to offer you the best possible deal every time.
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                15. Ordered by mistake.
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                16. Ordered the wrong color or the wrong size.
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-60">
        <div class="col-md-2"></div>
        <div class="col">
            <div class="size-20 text-dark font-bold mb-4">Your Refund:</div>
            <div class="text-dark size-8 max-600 mb-8">
                • For delivered products, we will refund to you the product amount in full (excluding the original
                shipping fees plus the return fees in case of the product is not as expected. Note: If you are in the
                UAE and would like to return the item without paying the return fees, please send it back to Mumzworld
                Headquarters: Office B403, 4th Floor, Building 4, Dubai Design District).


            </div>
            <div class="text-dark size-8 max-600 mb-8">
                • If the products are faulty or not as described on our Site; or
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                • If you reason for return is due to an error on our side, such as an error in pricing or description,
                etc.
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                • For products not delivered, you will receive a full refund if you cancel the order before shipping.

            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-60">
        <div class="col-md-2"></div>
        <div class="col">
            <div class="size-20 text-dark font-bold mb-4">Refund Procedure:</div>

            <div class="size-8 text-dark mb-8">We will issue a refund to you depending on the method you used for
                payment, as follows:</div>

            <div class="text-dark size-8 max-600 mb-8">
                • If you paid by cash on delivery, we will issue a refund as store credits; or
            </div>
            <div class="text-dark size-8 max-600 mb-8">
                • if you paid by credit/debit card, you can choose to have a refund as store credits or to your
                credit/debit card.
            </div>


        </div>
    </div>
    <div class="row justify-content-center mt-60 mb-100">
        <div class="col-md-2"></div>
        <div class="col">
            <div class="size-20 text-dark font-bold mb-4">Refund Timescale: </div>

            <div class="size-8 text-dark mb-8 max-600"> Your refund will be initiated once your product is received back in our
                fulfilment center and inspected by our team, and the final refund will be received by you as follows:
            </div>

            <div class="text-dark size-8 max-600 mb-8">
                • If your refund is store credits, you will receive the refund within three (3) days after your product
                is received back in our fulfilment center and inspected by our team; or

            </div>
            <div class="text-dark size-8 max-600 mb-8">
                Need help? Contact our customer service at support@mumez.com , call us on +00000000, or chat with us for
                further assistance.

            </div>
            <div class="text-dark size-8 max-600 mb-8">
                *For more information on the products eligible for returns, check out our Terms of Sale.
            </div>
        </div>
    </div> -->
</div>
