/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
// @import "assets/scss/global";
// // bootstrap
// @import "~bootstrap/scss/bootstrap-reboot.scss";
// // @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/type";
// // @import "~bootstrap/scss/utilities";

// @import "assets/scss/material";
// @import "assets/scss/base";
// @import "assets/scss/utils";
// @import "assets/scss/overrides";

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.masonry-item { width: 33.33%; }
html {
  scroll-behavior: smooth;
}
