.bg-color {
    background-color: #eef6fd;
}
::ng-deep .mat-dialog-container {
    box-shadow: unset !important;
    border-radius: 40px !important;
    padding: 120px !important;
    @media (max-width: 575.9px) {
      padding: 40px !important;
  } 
}


img {
  object-fit: cover;
}
